.hotel-menu li{
   display:inline;
   list-style:none;
}
.hotel-menu ul{
    margin:5px auto ;
}
.hotel-menu a{
    columns: #000000;
    font-family: 'Roboto';
    font-size: 18px;
    text-decoration: none;
}
.brand{
    font-family: 'Roboto';
    font-size: 23px;
}
a:hover{
    background-color:#7eb617;
}
.hotel-bookings {
    margin: 10px auto;
}
.rooms-available li{
    list-style: none;
    display: inline;
}
.add-booking{
    margin:10px;
    padding:20px;
}
.frm-add{
    width:auto;
    height:auto;
    font-family:'Roboto';
}
.notice{
    color:#ff0000;
}
#message{
    color: #ff0000;
    font-family:'Roboto';
    font-size:23px;
}

